<h1>Satın Alma Ekranı</h1>

<form action="/Urun/Index" method="post">
   Almak İstediğiniz Ürün <br>
   <p>
      <label><input type="radio" value="Elma" name="elmaAlma">Elma</label>
      <label><input type="radio" value="Portakal" name="portakalAlma">Portakal</label>
   </p>
   <div class="form-group">
      <label for="Adet">Adet</label>
      <input type="number" class="form-control" id="Adet" name="Adet" min="1" />
   </div>
   
   <div class="form-group">
      <label for="Fiyat">Fiyat</label>
      <input type="text" class="form-control" id="Fiyat" name="Fiyat" />
   </div>
   
   <div class="form-group">
      <label for="OdenenTutar">Ödenen Tutar</label>
      <input type="text" class="form-control" id="OdenenTutar" name="OdenenTutar" />
   </div>

   <p><button>Satın Al</button> <button type="reset">Temizle</button></p>

</form>

@if (ViewData["Ödeme"] != null)
{
   <div class="alert alert-success">
      @ViewData["Ödeme"]
   </div>
}